{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<h1>Blog Posts</h1>
<a href="{% url 'post_new' %}" class="btn">New Post</a>
<div class="post-list">
    {% for post in posts %}
        <div class="post-item">
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.content }}</p>
            <div class="meta">
                Author: {{ post.author }} | Created at: {{ post.created_at }}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}